
<!--col-xs-offset-2-->
<div class="col-xs-8 col-xs-offset-2 top-menu">
    <ul>
        <li id="entorn" class="top-menu-item"><a href="#" ng-click="goTo('entorn')"><i class="fa fa-leaf"></i><br/>{{'global.menu.entorn' | translate}}</a></li>
        <!--<li id="hostalatge" class="top-menu-item"><a href="#" ng-click="goTo('hostalatge')"><i class="fa fa-home"></i><br/>Allotjament</a></li>-->
        <li id="nosaltres" class="top-menu-item"><a href="#" ng-click="goTo('nosaltres')"><i class="fa fa-info-circle"></i><br/>{{'global.menu.nosaltres' | translate}}</a></li>
        <li id="com_arribar" class="top-menu-item"><a href="#" ng-click="goTo('com_arribar')"><i class="fa fa-rocket"></i><br/>{{'global.menu.com_arribar' | translate}}</a></li>
        <li id="contacte" class="top-menu-item"><a href="#" ng-click="goTo('contacte')"><i class="fa fa-envelope"></i><br/>{{'global.menu.contacte' | translate}}</a></li>
        <!--<li id="reserves" class="top-menu-item"><a href="#" ng-click="goTo('reserves')"><i class="fa fa-calendar"></i><br/>{{'global.menu.reserves' | translate}}</a></li>-->
        <!--<li id="feina" class="top-menu-item"><a href="#" ng-click="goTo('feina')"><i class="fa fa-briefcase"></i><br/>Feina</a></li>-->
    </ul>
</div>
<!--
<div class="col-xs-2 botiga-box">
    <div class="botiga-nom" style="margin-left: -50px;">
        <a href="http://esportscastell.com" target="_blank">
            <i class="fa fa-shopping-cart"></i> {{'global.menu.botiga' | translate}}
        </a>
    </div>
    <div class="" style="
    margin-top: 60px;
    margin-left: -50px;
    ">
        <slider images="images" />
    </div>
</div>
-->