<div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <!--
            <div class="header-secció">
                <img class="alignnone size-medium wp-image-133"
                     src="/assets/img/headers/casa2.png" alt="Castellfollit desde Castellfollit Aventura" width="100%" height="100" />
            </div>
            -->
            <br/>
            <h1 translate="entorn.titol">Entorn</h1>
            <br/>
            <p translate="entorn.text1">
                Castellfollit de Riubregòs és un poble d’origen medieval en terra de fronteres i cruïlla de camins. Es troba a la falda del Castell de Sant Esteve, resentment restaurat. En el conjunt fortificat hi destaquen dues torres més, la del Ballester, de planta circular i la del Raval, de planta en forma de proa de vaixell.
            </p>
            <p translate="entorn.text2">
                El poble, consta de carrers estrets amb nombrosos túnels. La Plaça Major, on hi ha l’església de la Mare de Déu del Roser, és porxada ambdós cantons.
            </p>
            <br/>
            <p>
            <div class="row">
                <div class="col-xs-6 totes-fotos" ng-repeat="foto in fotos0">
                    <a colorbox="{{foto.gran}}" class="entorn-group" rel="group1" href="#" title="{{foto.title}}">
                        <img class="foto-petita" class="alignnone size-medium wp-image-56"
                             ng-src="{{foto.petita}}"
                             alt="{{foto.alt}}" />
                    </a>
                </div>
            </div>
            </p>
            <br/>
            <p translate="entorn.text3">
                A les afores, hi trobem el Priorat de Santa Maria, on podem gaudir del romànic de la zona.
            </p>
            <br/>
            <div class="row">
                <div class="col-xs-6 totes-fotos" ng-repeat="foto in fotos">
                    <a colorbox="{{foto.gran}}" class="entorn-group" rel="group1" href="#" title="{{foto.title}}">
                        <img class="foto-petita" class="alignnone size-medium wp-image-56"
                             ng-src="{{foto.petita}}"
                             alt="{{foto.alt}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>