<div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" ng-show="enviat">
            <br/>
            <br/>
            <div class="alert alert-success" translate="contacte.gracies">
                <strong>Moltes gràcies!</strong> Ben aviat ens possarem en contacte amb tu.
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1" ng-hide="enviat">
            <br/>
            <h1 translate="contacte.titol">Contacte</h1>
            <br/>

            <p>
                <h3><i class="fa fa-at"></i>&nbsp;<a href="mailto:oci@castellfollitaventura.cat">oci@castellfollitaventura.cat</a></h3>
            </p>
            <p>
                <h3><i class="fa fa-phone"></i>&nbsp;<a href="tel:+34672720808">+34 672 72 08 08</a></h3>
            </p>
            <br/>

            <form ng-show="!success" name="form" role="form" novalidate>

                <div class="form-group">
                    <label translate="contacte.form.nom">Nom *</label>
                    <input type="text" class="form-control" name="name" placeholder="{{'contacte.form.nom.placeholder' | translate}}"
                           ng-model="contacte.nom" required>
                </div>
                <div class="form-group">
                    <label translate="contacte.form.email">E-mail *</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'contacte.form.email.placeholder' | translate}}"
                           ng-model="contacte.email" ng-minlength=5 ng-maxlength=100 required>
                </div>
                <div class="form-group">
                    <label translate="contacte.form.telefon">Telèfon *</label>
                    <input type="phone" class="form-control" name="telefon" placeholder="{{'contacte.form.telefon.placeholder' | translate}}"
                           ng-model="contacte.telefon" required>
                </div>
                <div class="form-group">
                    <label translate="contacte.form.assumpte">Assumpte *</label>
                    <input type="text" class="form-control" name="assumpte" placeholder="{{'contacte.form.assumpte.placeholder' | translate}}"
                           ng-model="contacte.assumpte" required>
                </div>
                <div class="form-group">
                    <label translate="contacte.form.missatge">Missatge *</label>
                    <textarea type="text" rows="6" class="form-control" name="missatge" placeholder="{{'contacte.form.missatge.placeholder' | translate}}"
                           ng-model="contacte.missatge" ng-minlength=5 required ></textarea>
                </div>
                <div class="form-group">
                    <label translate="contacte.form.condicions">
                        A l'enviar el formulari acceptes les <a ui-sref="condicions">Condicions Generals</a>
                    </label>
                </div>
                <div class="form-group">
                    <div vc-recaptcha key="'6LeB1BsTAAAAAHo_gzddYv_WnbaS3_Uhzr72JZeD'" ></div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-success" ng-click="sendMail()" translate="contacte.form.boto">Enviar</button>
            </form>
        </div>
    </div>
</div>
