<div class="row header-main">
    <div class="col-xs-2">
        <a ui-sref="landing">
            <img src="http://static.castellfollitaventura.cat/images/LogoCastellfollitAventuraC.png"
                 alt="Castellfollit Aventura" width="150"/>
        </a>
    </div>
    <div class="col-xs-7">
        <!--<img class="alignnone size-medium wp-image-133" src="http://static.castellfollitaventura.cat/images/promo_image.jpg" width="100%" height="100" />-->
        <slider images="images" />
    </div>
    <div class="col-xs-3 header-right">
        <div class="row">
            <div class="">
                <ul class="list-inline">
                    <li class="social-buttons">
                        <a href="http://twitter.com/castellaventura"><i class="social-icon fa fa-twitter"></i></a>
                    </li>
                    <li class="social-buttons">
                        <a href="https://www.tripadvisor.es/Attraction_Review-g2587088-d10403186-Reviews-Castellfollit_Aventura-Castellfollit_de_Riubregos_Catalonia.html"><i class="social-icon fa fa-tripadvisor"></i></a>
                    </li>
                    <li class="social-buttons">
                        <a href="https://www.facebook.com/castellfollitaventura"><i class="social-icon fa fa-facebook"></i></a>
                    </li>
                    <li class="social-buttons">
                        <a href="https://plus.google.com/+CastellfollitAventuraCatSL"><i class="social-icon fa fa-google-plus"></i></a>
                    </li>
                    <li class="social-buttons">
                        <a href="https://www.youtube.com/channel/UCozDzfCzJIzF61YmijcQq3g"><i class="social-icon fa fa-youtube"></i></a>
                    </li>
                    <li class="social-buttons">
                        <a href="https://www.instagram.com/castellfollitaventura/"><i class="social-icon fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="" ng-controller="LanguageController">
                <ul class="list-inline">
                    <li >
                        <a href="#" ng-click="changeLanguage('ca')">
                            <img class="lang-flag" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATBJREFUeNpUkU1LA0EMhpNViqWtVYrFj4OnulCoFNSbF3+Gtn9UvBSxoHgR9eRBD1Xbgyu0Ckt3MhMzMzvtGsLLSxieTBKkhxMIwczGmKJqrcUsVGJVqtQ5de8NsGbQwMTWKGaFTABqhb1X6uYVJ/295v5Z3kJIWgFZZXKpJDOmTAyUK/O7F0zvu3TYguW3BK883mUmaqxmCLXZYITj3m5j7QgKgTTP2Rac5U2kQ6U6e3zD39tO6aAB/4PNEs/G4qUC0fr7cIKfFzubpXbxdUSp6xDYwWOt/vM0wumwzd1mYbMWbMIAxjexY6gI6slVgh/n21vlOAzsYY7qNpNXSIHRXN1In8f4fR1Hx3FgEwek+72si4Rt78PaACWXU/watPyN/SH9dRfqT+69GHn5J8AAeJhkjAZrdt8AAAAASUVORK5CYII=" title="Català" alt="Català">
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="#" ng-click="changeLanguage('en')">
                            <img class="lang-flag" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNpinDRzn5qN3uFDt16+YWBg+Pv339+KGN0rbVP+//2rW5tf0Hfy/2+mr99+yKpyOl3Ydt8njEWIn8f9zj639NC7j78eP//8739GVUUhNUNuhl8//ysKeZrJ/v7z10Zb2PTQTIY1XZO2Xmfad+f7XgkXxuUrVB6cjPVXef78JyMjA8PFuwyX7gAZj97+T2e9o3d4BWNp84K1NzubTjAB3fH0+fv6N3qP/ir9bW6ozNQCijB8/8zw/TuQ7r4/ndvN5mZgkpPXiis3Pv34+ZPh5t23//79Rwehof/9/NDEgMrOXHvJcrllgpoRN8PFOwy/fzP8+gUlgZI/f/5xcPj/69e/37//AUX+/mXRkN555gsOG2xt/5hZQMwF4r9///75++f3nz8nr75gSms82jfvQnT6zqvXPjC8e/srJQHo9P9fvwNtAHmG4f8zZ6dDc3bIyM2LTNlsbtfM9OPHH3FhtqUz3eXX9H+cOy9ZMB2o6t/Pn0DHMPz/b+2wXGTvPlPGFxdcD+mZyjP8+8MUE6sa7a/xo6Pykn1s4zdzIZ6///8zMGpKM2pKAB0jqy4UE7/msKat6Jw5mafrsxNtWZ6/fjvNLW29qv25pQd///n+5+/fxDDVbcc//P/zx/36m5Ub9zL8+7t66yEROcHK7q5bldMBAgwADcRBCuVLfoEAAAAASUVORK5CYII=" title="English" alt="English">
                        </a>
                    </li>
                    -->
                    <li>
                        <a href="#" ng-click="changeLanguage('es')">
                            <img class="lang-flag" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFnSURBVHjaYvzPgAD/UNlYEUAAmuTYAAAQhAEYqF/zFbe50RZ1cMmS9TLi0pJLRjZohAMTGFUN9HdnHgEE1sDw//+Tp0ClINW/f0NIKPoFJH/9//ULyGaUlQXaABBALAx/Gf4zAt31F4i+ffj3/cN/XrFfzOx//v///f//LzACM/79ZmD8/e8TA0AAMYHdDVT958vXP38nMDB0s3x94/Tj5y+YahhiAKLfQKUAAcQEdtJfoDHMF2L+vPzDmFXLelf551tGFOOhev4A/QgQQExgHwAd8IdFT/Wz6j+GhlpmXSOW/2z///8Eq/sJ18Dw/zdQA0AAMQExxJjjdy9x2/76EfLz4MXdP/i+wsyGkkA3Aw3984cBIIAYfzIwMKel/bt3jwEaLNAwgZIQxp/fDH/+MqqovL14ESCAWICeZvr9h0FSEhSgwBgAygFDEMT+wwAhgQgc4kAEVAwQQIxfUSMSTxxDAECAAQAJWke8v4u1tAAAAABJRU5ErkJggg==" title="Español" alt="Español">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>